* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #24252a;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

#navigation {
  background-color: #24252a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;

  height: 50px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px;
}

button {
  padding: 9px 25px;
  background-color: rgb(41, 85, 85);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.button {
  padding: 9px 25px;
  background-color: rgb(41, 85, 85);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #edf0f1;
}

.browse_container h1 {
  padding: 50px 50px 30px 50px;
}

.book_search_bar {
  padding: 9px 25px;
  border-radius: 50px;
  width: 83vw;
}

.book_search_bar:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}

.book_search_form {
  padding: 0px 0px 20px 50px;
}

.filter_select {
  padding: 9px 5px;
  border-radius: 50px;
}

.book_card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px 50px 10px 50px;
  margin-left: 50px;
  margin-top: 15px;
  width: 90vw;
}

.book_card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.page_num {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.page_num a {
  color: #24252a;
  padding: 0px 5px 0px 5px;
}

.book_container {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.individual_book_card {
  padding: 10px 50px 10px 50px;
  margin-bottom: 30px;
  width: 70vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.individual_book_card h1,
h2 {
  padding: 20px 0px 20px 0px;
}

.individual_book_card p {
  padding-bottom: 5px;
}

.individual_book_card a {
  color: rgb(41, 85, 85);
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
}
.register_container {
  background-color: #24252a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register_card {
  background-color: #edf0f1;
  padding: 20px 50px 20px 50px;
  margin-bottom: 30px;
  width: 70vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40vw;
}

.register_card a {
  color: rgb(41, 85, 85);
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
}

.form {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
.form-field {
  padding: 15px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.register-btn-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.form-input {
  padding: 0px 10px;
  margin-left: 10px;
  height: 30px;
  border-radius: 50px;
}

.form-label {
  font-size: 20px;
}

.errors li {
  color: rgb(161, 52, 45);
}

.review_card {
  background-color: #edf0f1;
  padding: 20px 50px 20px 50px;
  margin-bottom: 30px;
  width: 70vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70vw;
}

.form-field-stars {
  padding: 15px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.review_card form {
  width: 49vw;
}

.review_card .form-field {
  display: inline;
}

.review_card .form-field textarea {
  width: 49vw;
  font-size: 16px;
}
.wrapper {
  position: relative;
  display: inline-block;
  border: none;
  font-size: 14px;

  left: 50%;
  transform: translateX(-50%);
}

.wrapper input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.wrapper label {
  position: relative;
  float: right;
  color: #c8c8c8;
}

.wrapper label:before {
  margin: 5px;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper input:checked ~ label:before {
  color: #ffc107;
}

.wrapper label:hover ~ label:before {
  color: #ffdb70;
}

.wrapper label:hover:before {
  color: #ffc107;
}
